/* Background styles */
body {
  background: url("/img/bg_abstract_standard.jpg") center/cover no-repeat;
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Glassmorphism card effect */
.container {
  backdrop-filter: blur(4px) saturate(101%);
  -webkit-backdrop-filter: blur(4px) saturate(101%);
  background-color: rgba(17, 25, 40, 0.74);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}



h1 {
  text-align: center;
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd82;
  color: #fff;
  background-color: #2a2a2ab1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd82;
  color: #fff;
  background-color: #2a2a2ab1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  background: #4bc5c5;
  color: #fff;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  transition: 0.25s;
  background: #266666;
}
