---
layout: aboutPage
title: "About"
description: "Hey there, I am Sebastian"
header-img: "img/bg_cubes.jpg"
header-mask: 0
multilingual: true
---

{% include multilingual-sel.html %}

<!-- German Version -->
<div class="de post-container">
    {% capture about_de %}{% include about/de.md %}{% endcapture %}
    {{ about_de | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>