---
layout: aboutPage
title: "About"
description: "Hey there, I am Sebastian"
header-img: "img/bg_cubes.jpg"
header-mask: 0
multilingual: true
---

{% include multilingual-sel.html %}

<!-- German Version -->
<div class="de post-container">
    {% capture about_de %}{% include about/de.md %}{% endcapture %}
    {{ about_de | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<br>

<div class="button-container">
    <div>
        <a class="standard-button contact-button" id="contact-link">Connect</a>
        <a class="standard-button" id="home-link">Home</a>
    </div>
    <button class="standard-button" onclick="scrollToTop()">Top</button>
</div>

<script>
    document.getElementById('home-link').href = window.location.origin;
    document.getElementById('contact-link').href = window.location.origin + '/contact.html';

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>