---
layout: aboutPage
title: "Impressum - Imprint"
description: "This is the imprint for sebastian-sonne.com"
header-img: "img/bg_cubes.jpg"
header-mask: 0
hide-in-nav: true
multilingual: true
---

{% include multilingual-sel.html %}

<!-- German Version -->
<div class="de post-container">
    {% capture about_de %}{% include about/imprint-de.md %}{% endcapture %}
    {{ about_de | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/imprint-en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>
